<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /contents/TateguDesignStudio/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /contents/TateguDesignStudio/index.html [L]
</IfModule>
